* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  display: flex;
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: center;
}

#container {
  outline: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 1rem;
  width: 1rem;
  outline: 1px solid rgb(224, 224, 224);
}
