h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#container {
  width: 320px;
  border: 2px solid rgb(236, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 20px;
  width: 20px;
  outline: 1px solid rgb(190, 190, 190);
}

.fill {
  background-color: black;
}
